body {
    font-family: "Arial";
    background: #ececec;
    margin: 16px;
}

a:hover {
    text-decoration-style: dashed;
}

.borderlink a {
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    line-height: 22px;
}

.borderlink a:hover {
    border-bottom: 1px dashed;
}