@font-face {
	font-family: MSM Primary;
	src: local("MSMPrimary-Bold"), local("MSM Primary Bold"), url("fonts/MSMPrimary-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
    font-family: "Open Sans";
    background: #ececec;
    margin: 16px;
}

p {
    padding: 2em;
    width: 258px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.white {
    background: #fff;
}

.white a:first-of-type,
.purple-20 a:first-of-type {
    color: #646664;
}

.purple {
    background: #674186;
    color: #fff;
}

.purple-20 {
    background: #e0d9e7;
}

.purple a,
.mint a,
.wavy a {
    color: #fff;
}

.mint {
    background: #359791;
    color: #fff;
}

.wavy {
    background: #674186 url("../img/wave-purple.svg") no-repeat;
    background-size: cover;
}


.button {
    appearance: none;
    border: 0;
    font-family: "Filson Soft";
    font-size: 16px;
    line-height: 16px;
    padding: 14px 25px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin-top: 2em;
}


.button-color--normal {
    background: #fff;
    color: #bf4a8e;
}

.button-color--normal:hover {
    background: #f7f5f9;
    text-decoration: underline;
}

.button-color--normal:focus {
    outline: none;
    box-shadow: 0 0 0 2px #001438, 0 0 0 4px #fff;
}


.button-hollow {
    color: #fff;
    background: none;
    padding: 10px 21px;
    border: 2px solid #fff;
}

.button-hollow:hover {
    background: none;
    padding: 8px 19px;
    border-width: 4px;
}


.button-color--primary {
    background: linear-gradient(90deg, #85679e, #bf4a8e);
    color: #fff;
}

.button-color--primary:hover {
    background: #bf4a8e;
    text-decoration: underline;
}

.button-color--primary:focus {
    outline: none;
    box-shadow: 0 0 0 2px #001438, 0 0 0 4px #fff;
}


.arrowlink {
    margin-top: 2em;
    display: inline-block;
    color: #bf4a8e;
    font-family: "Filson Soft";
    font-weight: 600;
    line-height: 16px;
    padding: 5px 32px 3px 5px;
    background: url(../img/arrow-link.svg) no-repeat 90% 6px;
    border-radius: 25px;    
}

.arrowlink:hover {
    text-decoration: none;
    background-position: 100% 6px;
}

.arrowlink:focus {
    outline: none;
    box-shadow: 0 0 0 2px #001438;
}

.arrowlink-white {
    background-image: url(../img/arrow-link-white.svg);
}

.arrowlink-white:focus {
    box-shadow: 0 0 0 2px #fff;
}
